17-3-2-logistic_regression_dm
17-4-2-precision__recall_f1
17-5-2-svm
17-6-1-label_encode
17-6-4-scale
17-7-2-decision_tree
17-9-3-gradient_boosted_tree
17-10-1-oversampling
17-10-2-undersampling
17-10-3-combination_sampling
linear_regression_salary
logistic_regression.ipynb